fastapi[all]==0.104.1
pydantic==2.5.1
pydantic_core==2.14.3
pydantic-extra-types==2.1.0
pydantic-settings==2.1.0
uvicorn[standart]==0.24.0.post1
pyjwt==2.8.0
psycopg2-binary==2.9.9
asyncpg==0.29.0
sqlalchemy[asyncio]==2.0.23
alembic==1.12.1
bcrypt==4.1.*
requests==2.31.*
pytest==7.4.3
pytest-asyncio==0.23.3
# pytest_trio==0.8.0
aiosqlite==0.19.0
